<style>
    img {
        spacing: 0px;
        padding: 0px;
    }
    border {
        background-color: #000000;
    }
</style>
<body border="0">
<img src="http://127.0.0.1:8000/maker/planet.png?size=512&rand_seed=31116451001&color_range=&ice_north_pole=0.1&ice_south_pole=0.1&ice_total=0&base_color=&surface_solidity=1&craterization=1.359&atmosphere_dust_amount=0&octaves=48"
        /><img src="http://127.0.0.1:8000/maker/planet.png?size=512&rand_seed=31116451001&color_range=&ice_north_pole=0.1&ice_south_pole=0.1&ice_total=0&base_color=&surface_solidity=1&craterization=1.359&atmosphere_dust_amount=0&octaves=48"
        /><img src="http://127.0.0.1:8000/maker/planet.png?size=512&rand_seed=31116451001&color_range=&ice_north_pole=0.1&ice_south_pole=0.1&ice_total=0&base_color=&surface_solidity=1&craterization=1.359&atmosphere_dust_amount=0&octaves=48"/>
</body>