{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Procyon - Search Stars{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/front_page.css">
{% endblock %}

{% block banner %}

    <h2>Stars</h2>
    <div>
        <form action="." class="form-inline">
            <input type="text" name="q" class="search-query" placeholder="Enter a search term.">  <input class="btn" type="submit" value="Search">
        </form>
    </div>

    <p>
        <ul>
            {% for item in items %}
            <li>Star #{{item.id}} - HD #{{item.HD}} - {% if item.proper_name %}<b>{{item.proper_name}}</b> -{%  endif %} {{item.distance_ly}} LY from Sol</li>
            {% endfor %}
        </ul>
    </p>

    {% bootstrap_paginate page_obj range=10%}

{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}

