<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Star Viewer: {{ star }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" /> 
		<meta name="description" content="HTML5 Canvas rendering using Three.js - by Jay Crossler" /> 
		<meta name="keywords" content="html5, canvas, ipad, three.js, ios, android, gestures" /> 
		<meta name="robots" content="index, follow" /> 

        <link rel="stylesheet" href="{{STATIC_URL}}css/star_viewer.css">

		<script type="text/javascript" src="{{STATIC_URL}}js/three/Stats.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/three/Three.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/three/Ray.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/three/Color.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/three/CameraControl.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/three/RequestAnimationFrame.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/star_viewer.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/helpers.js"></script>

	</head>
	<body>

		<div id="container"></div> 
		<div id="info"></div>
		<div id="infoleft">
			<div id="infolefttitle" class="infotabtitle"></div>
			<div id="infotab1" class="infotab"></div>
			<div id="infotab2" class="infotab"></div>
			<div id="infotab3" class="infotab"></div>
			<div id="infotab4" class="infotab"></div>
		</div>

		<div id="details">
			Show: <span onclick="star_viewer.init_object_points(50);">50</span>
			<span onclick="star_viewer.init_object_points(5000);">ALL</span><br/>
			Scale by: <span onclick="star_viewer.refresh_stars({scale:'mass'});">Mass</span>
			<span onclick="star_viewer.refresh_stars({scale:'mag'});">Mag</span>
			<span onclick="star_viewer.refresh_stars({scale:'abs_mag'});">Abs</span><br/>
			Grid: <span onclick="star_viewer.remove_grid_lines();">None</span>
			<span onclick="star_viewer.init_grid();">W</span>
			<span onclick="star_viewer.init_grid({lightColor:0xff0000,darkColor:0x886666,rot:2});">R</span>
			<span onclick="star_viewer.init_grid({lightColor:0x4444ee,darkColor:0x222288,rot:4});">B</span><br/>


		</div>

<script type="text/javascript">
    var stars = {{ item.nearby_stars_json|safe }}; //_force_recalc

    star_viewer.preloader();
</script>

	</body>
</html>