{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Procyon - Search Stars{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{STATIC_URL}}css/front_page.css">
<link rel="stylesheet" href="{{STATIC_URL}}datatables.net/css/demo_table.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/star_list.css">
<style>

</style>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{STATIC_URL}}datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/underscore.string.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/star_list.js"></script>
<script language="JavaScript">
    var items = [];
    {% for item in items %}
    items.push({{item.get_json|safe}});{% endfor %}

    $().ready(function(){
        star_list.init();
        star_list.buildTable(items);
    });
</script>

{% endblock %}

{% block banner %}

    <h2>Stars</h2>
    <div>
        <form action="." class="form-inline">
            <input type="text" name="q" class="search-query" placeholder="Enter a search term.">  <input class="btn" type="submit" value="Search">
        </form>
    </div>

    <div>
        <span id="data_display">
            <table id="data_holder"></table>
        </span>
        <span id="data_details"></span>
    </div>


{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}

