{% extends "banner_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title_base %}Procyon{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/front_page.css">
{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to " %}Procyon</h1>
    <p>
        {% blocktrans %}
        <b>Procyon</b> is a tool for listing known stars and planets and making the data more discoverable. Data can either be browsed here, or consumed as JSON to be used in other applications (like video games).<p/>

        All the source code for <b>Procyon</b> is open source under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>, and is available for <a href="https://github.com/jaycrossler/procyon" target="_blank">browsing/download on Github</a>. <p>

        If you have improvements, please contribute!  You can also use <a href="https://github.com/jaycrossler/procyon-chef-repo" target="_blank">vagrant and chef to completely build and host</a> your own Procyon server.
        {% endblocktrans %}
    </p>

    <h2>Things you can do</h2>
    <p>
        <ul>
            <li><a href="{% url 'star-list' %}">{% trans "Search Known Stars"%}</a></li>
            <li><a href="{% url 'generators' %}">{% trans "Content Generators"%}</a></li>
            <li><a href="{% url 'maker-star-info' 27919 %}">{% trans "JSON of a star (with simulated details and nearest locs)"%}</a></li>
            <li><a href="{% url 'maker-star-viewer' 27919 %}">{% trans "HTML5 Nearby star viewer"%}</a></li>
        </ul>
    </p>

    {% if user.is_authenticated %}
            Authenticated users can also <a href="admin/starcatalog/planet">{% trans "Search Known Planets" %}</a></li>
    {% else %}
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}
