{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Chronicler - {{ object.type }} #{{ object.id }} - {{ object.name }}{% endblock %}

{% block head_title %}{% trans "Stories" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/front_page.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jstree/themes/default/style.min.css">
    <style>
        .story_text {border: 2px solid #000000; padding: 10px;}
        .spacer {padding: 4px; margin:2px;}
        .requirement { background-color: lightblue; border-radius: 4px;}
        .effect {background-color: lightyellow; border-radius: 4px;}
        .chance {background-color: lightgreen; border-radius: 4px;}
        .choice_holder {padding: 10px; margin:2px; border:2px solid darkolivegreen;}
        .choice {background-color: lightsalmon; border-radius: 4px;}
        .choice_title {padding: 4px; margin:2px; background-color: lightsalmon; border-radius: 4px;}
        .bold {font-weight: bold}
        .tree_header {font-style: italic}
        .tree_detail {border:2px solid black; padding: 4px;}
        .field {margin: 4px;}
        #story_tree {max-height: 400px; overflow-y: scroll; border: 1px solid #000000;}
        label {display: inline-block; width: 200px; text-align: right; }
        select {width: 350px;}
        .edit_input {width:350px;}
    </style>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.string.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/story_detail.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            story_details.edit_url = "{% url 'story-detail' object.id %}";
            story_details.default_story = {{ object.to_json|safe|default:"{}" }};

            story_details.init();
        });
    </script>
{% endblock %}

{% block banner %}
    <a href="{% url 'story-list' %}">Back to Stories</a>

    <h2>#{{ object.id }} {% if object.anthology %}
        [<a href="{% url 'story-list-anthology' object.anthology %}">{{ object.anthology }}</a>]
        {% endif %}{{ object.name }}</h2>
    <p>Valid during years (<b>{{ object.year_min }}</b> - <b>{{ object.year_max }}</b>) <span id="requirements"></span>
    {% if object.tags %}<b>Tags:</b> {{ object.tags }} -- {% endif %}<b>Type:</b> {{ object.type }}</p>
    {% if object.description %}<div class="story_text"><b>Description:</b> {{ object.description }}</div>{% endif %}
    {% if object.force_usage %}<p>
        <i>Will be returned the next {{ object.force_usage }} times a story is requested that matches requirements</i>
        </p>{% endif %}
    {% if object.following_stories %}<p><b>Following Stories:</b> {{ object.following_stories }}</p>{% endif %}
    {% if object.not_if_previous_stories %}<p><b>Ignore if Previous Stories:</b> {{ object.not_if_previous_stories }}
        </p>{% endif %}
    <p id="story"></p>
    <div id="choices"></div>
    <p id="variables"></p>
    <hr/>
    <p id="downloads"></p>

{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}


