{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Generator :: Name{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/front_page.css">
    <style>
        textarea {
            width: 430px;
            height: 80px;
        }
        input[type=text] {
            width: 430px;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.string.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $('#btn_string').on('click',function(){
                var $btn = $(this);
                var $form = $("#name_generator");
                var arr = $form.serializeArray();

                var query_string = "?format=string";
                _.each(arr,function(input){
                    if (input.name != "csrfmiddlewaretoken" && input.value) {
                        query_string += "&" + input.name + "=" + input.value;
                    }
                });

                window.open('name'+query_string, "_blank")
                });

            $('#btn_json').on('click',function(){
                var $btn = $(this);
                var $form = $("#name_generator");
                var arr = $form.serializeArray();

                var query_string = "?format=json";
                _.each(arr,function(input){
                    if (input.name != "csrfmiddlewaretoken" && input.value) {
                        query_string += "&" + input.name + "=" + input.value;
                    }
                });

                window.open('name'+query_string, "_blank")
            })

        });
    </script>
{% endblock %}

{% block banner %}
    <h2><a href="./">Generators</a> :: Name</h2>
    <form action="" method="post" id="name_generator">
        {% csrf_token %}
        <i>{{ note }}</i>

        <h3>"{{ item }}"</h3>

        <hr/>

        <input id="btn_json" type="button" value="JSON data of this name"/>
        <input id="btn_string" type="button" value="Just this name" />

        {% if item_data %}<h4>Item Data:</h4>
            {{ item_data|default:"" }}
        {% endif %}

        <p></p>
        <input type="submit" value="Regenerate with this Random Seed"/>
        <input name="regenerate" type="submit" value="Generate with different Seed"/>

        <label>Tags to weigh:</label>
        <input type="text" name="tags" value="{{ tags }}"
                  placeholder='Optional - Tags that should help design the object'/>

        <label>Random Seed:</label>
        <input type="text" name="rand_seed" value="{{ rand_seed }}"
                  placeholder='Optional - Number to use to design the object. Same numbers and inputs will generate same objects'/>

        <label>Modifications:</label>
        <input type="text" name="modifications" value="{{ modifications }}"
                  placeholder='Optional - Number of times to "fuzz" the name and modify it'/>

        <label>Override Name Data:</label>
        <textarea name="override_json"
                  placeholder='Optional - JSON that the object must use: {"rank":"Dr."}. If these are known Components, their data will be used'>{{ override_json }}</textarea>
        <br/>

        <label>World JSON Data:</label>
        <textarea name="world_json"
                  placeholder='Optional - JSON data about the world to be used when matching items. Something like: {"magic":"medium","technology":"low","year":1492}'>{{ world_json }}</textarea>

        <label>Person JSON Data:</label>
        <textarea name="person_json"
                  placeholder='Optional - JSON data about the person to be used when matching items. Something like: {"money":"high","business":["bookshop"]}'>{{ person_json }}</textarea>

        <br/>

        <label>Name Pattern:</label>
        <input type="text" name="pattern" value="{{ pattern }}"
                  placeholder='Optional - Comma-separated Components of the item. Ex: rank:.1,namefile:1,namefile:.7,namefile:.2,placefile:.4:of'/>

    </form>


{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}

