{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Generator :: DNA{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/front_page.css">
    <style>
        textarea {
            width: 430px;
            height: 80px;
        }
        input[type=text] {
            width: 430px;
        }
        p {
            word-wrap: break-word;
        }

        .attribute {
            width: 130px;
            height: 20px;
            font-size: 10px;
            border: 1px solid black;
            border-radius: 4px;
            display: inline-block;
            margin: 3px;
            padding: 3px;
            vertical-align: middle;
            line-height: 10px;
        }
        .positive {
            background-color: lightgreen;
        }
    textarea.metrics {
        font-family: consolas, Courier, monospace;
        font-size: 10px;
        line-height: 10px;
    }
    </style>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.string.min.js"></script>
    <script type="text/javascript">
        var base_link="{{ generator|lower }}";
        function buildLink(type, $btn){
            var rand = $btn.attr('id');
            if (rand) {
                rand = rand.split("_")[1];
                rand = parseInt(rand);
            }
            var $form = $("#generator");
            var arr = $form.serializeArray();

            var query_string = "?";
            _.each(arr,function(input){
                var val = input.value;
                var name = input.name;
                if (name != "csrfmiddlewaretoken" && val && name != "count" && !(name == "pattern" && val == "{{ pattern_default }}")) {
                    if (name == "rand_seed") {
                        val = rand;
                    }
                    query_string += name + "=" + val + "&";
                }
            });
            query_string+="format="+type;

            window.open(base_link+query_string, "_blank")
        }
        $(document).ready(function(){

            $('.btn_string').on('click',function(){
                var $btn = $(this);
                buildLink('string', $btn)
            });

            $('.btn_json').on('click',function(){
                var $btn = $(this);
                buildLink('json', $btn)
            });

        });
    </script>
{% endblock %}

{% block banner %}
    <h2><a href="./">Generators</a> :: {{ generator|title }}</h2>
    <form action="" method="post" id="generator">
        {% csrf_token %}
        {% if note %}<i>{{ note }}</i>{% endif %}

        <p><b>{{ type|title }}</b>: {{ dna }}</p>

        {% for quality in qualities %}
            <span class="attribute">{{ quality.name }}: <b>{{ quality.value }}</b></span>
        {% endfor %}

        {% if attribute_mods %}
            <hr/>

            <b>Attribute Mods when Born:</b>
            {% for attribute, value in attribute_mods.items %}
                <span class="attribute {% if value > 0 %}positive{% endif %}"><b>{{ attribute }}</b>: {% if value > 0 %}+{% endif %}{{ value }}</span>
            {% endfor %}
        {% endif %}

        <hr/>

        <input class="btn_json" type="button" id="json_{{ inputs.rand_seed }}" value="JSON"/>
        <input class="btn_string" type="button" id="string_{{ inputs.rand_seed }}" value="Text" />
        <input type="submit" value="Regenerate with this Random Seed"/>
        <input name="regenerate" type="submit" value="Generate with different Seed"/>

        <label>Random Seed:</label>
        <input type="text" name="rand_seed" value="{{ inputs.rand_seed }}"
                  placeholder='Optional - Number to use to design the object. Same numbers and inputs will generate same objects'/>

        <label>Use This DNA instead:</label>
        <input type="text" name="dna" value=""
                  placeholder='Optional - Overwrite DNA'/>

        {% if inputs.race or inputs.race == '' %}
            <label>Race:</label>
            <select name="race">
                <option value="" {% if inputs.race == '' %}selected="selected"{% endif %}>Doesn't Matter</option>
            {% for race in RACE_ARRAY %}
                <option value="{{ race.name }}" {% if inputs.race == race.name %}selected="selected"{% endif %}>{{ race.name }}</option>
            {% endfor %}
            </select>
        {% endif %}

        <label>Override Data:</label>
        <textarea name="override_json"
                  placeholder='Optional - JSON that the object must use: {"Skin Pigment":"Tanned"}.'
                >{{ inputs.override_json }}</textarea>
        <br/>

        <label>Metrics:</label>
        <textarea class="metrics">
{%  for m in metrics %}{{ m }}
{% endfor %}
        </textarea>
        <br/>


    </form>


{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}

