{% extends "banner_base.html" %}

{% load i18n bootstrap_pagination %}
{% load url from future %}

{% block head_title_base %}Generators{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{STATIC_URL}}css/front_page.css">
<style>

</style>

{% endblock %}

{% block banner %}
    <h2>Generators</h2>
    <a href="item">Generate an Item</a> [<a href="item?format=json" target="_blank">JSON</a>] [<a href="item?format=string" target="_blank">String</a>]<br/>
    <a href="name">Generate a Name</a> [<a href="name?format=json" target="_blank">JSON</a>] [<a href="name?format=string" target="_blank">String</a>]<br/>
    <a href="trap">Generate a Trap</a> [<a href="trap?format=json" target="_blank">JSON</a>] [<a href="trap?format=string" target="_blank">String</a>]<br/>
    <a href="junk">Generate a Piece of Junk</a> [<a href="junk?format=json" target="_blank">JSON</a>] [<a href="junk?format=string" target="_blank">String</a>]<br/>
    <a href="/maker/builder">Generate a Solar System</a> [<a href="/maker/builder?format=json" target="_blank">JSON</a>]<br/>
    <a href="/maker/planet.png">Generate a Planet Texture</a><br/>

    <h3>TODO:</h3>
    <a href="treasure">Generate Treasure</a><br/>
    <a href="skill">Generate a Skill</a><br/>
    <a href="attribute">Generate an Attribute</a><br/>
    <a href="background">Generate a Background</a><br/>
    <a href="person">Generate a Person</a><br/>
    <a href="city">Generate a City</a><br/>
    <a href="kingdom">Generate a Kingdom</a><br/>

{% endblock %}

{% block column-1 %}
{% endblock %}

{% block column-2 %}
{% endblock %}

{% block column-3 %}
{% endblock %}

